* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(151, 255, 255);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 20px;
}

div {
    width: 100vw;
    padding: 0px 100px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}